@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto_Regular";
  src: url("./fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto_Bold";
  src: url("./fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Baloo2_Bold";
  src: url("./fonts/Baloo_2/static/Baloo2-Bold.ttf");
}

@font-face {
  font-family: "Baloo2_ExtraBold";
  src: url("./fonts/Baloo_2/static/Baloo2-ExtraBold.ttf");
}
